.navbar {
  height: 8vh;
  width: 100%;
  box-shadow: var(--navbar-shadow);

  /* not touch */

  .container-navbar,
  .left-navbar,
  .center-navbar,
  .logo-navbar,
  .right-navbar,
  .auth-navbar,
  .menu-navbar,
  a,
  img {
    height: inherit;
  }

  .container-navbar {
    display: grid;
    grid-template-columns: 20% 55% 25%;
    margin: 0 3rem;
  }

    .left-navbar {
    }

    .center-navbar {
    }

    .right-navbar {
    }

    .center-navbar > .menu-navbar {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .menu-navbar > .option-menu-navbar {
      display: flex;
      align-items: center;
      font-size: var(--font-size-global);
      font-weight: bold;
      position: relative;
      justify-content: center;
      cursor: pointer;

      &:hover {
        color: var(--blue-master-pro);
      }

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 0;
        background: var(--blue-master-pro);
        transition: 0.5s;
      }

      &:hover:before {
        width: 100%;
      }
    }

    .right-navbar > .auth-navbar {
      display: flex;
      justify-content: end;
      align-items: center;
      flex-wrap: wrap;
    }
  }

